In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#pd.set_option("display.max_rows", 1000)
pd.set_option("display.max_columns", 100)

In [2]:
file_paths = {'in':'../../data/processed/activities/2975587283.csv'
             }

In [8]:
df = pd.read_csv(file_paths['in'])

# guarantee the timestamps are datetime objects
df['time'] = pd.to_datetime(df['time'])

In [9]:
df.head()

,track,segment_id,time,elevation,latitude,longitude
0,2975587283,0,2020-01-02 14:02:58+00:00,224.3,40.042824,-83.027358
1,2975587283,0,2020-01-02 14:03:00+00:00,224.2,40.042877,-83.027490
2,2975587283,0,2020-01-02 14:03:02+00:00,224.2,40.042914,-83.027581
3,2975587283,0,2020-01-02 14:03:04+00:00,224.2,40.042934,-83.027644
4,2975587283,0,2020-01-02 14:06:04+00:00,224.2,40.042900,-83.027659

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 872 entries, 0 to 871
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   track       872 non-null    int64
 1   segment_id  872 non-null    int64
 2   time        872 non-null    datetime64[ns, UTC]
 3   elevation   872 non-null    float64
 4   latitude    872 non-null    float64
 5   longitude   872 non-null    float64
dtypes: datetime64[ns, UTC](1), float64(3), int64(2)
memory usage: 41.0 KB